# OS X Junk
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
.DS_Store
profile
.svn

# Rails
# Ignore bundler config.
/.bundle
/public/assets/*

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore Redis
*.rdb

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.csv
/tmp

# Ignore coverage
/coverage

# Emacs
*.~*~

doc/*
spec/reports